/* Styled to be your maroon, rounded container */
.time_display_container {
    background-color: var(--color-primary-darker);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    position: relative;
    margin-left: 20px;
}
/* Styled the inputs to have no border and a transparent background */
.time_input{
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    width: 3ch; 
    text-align: center;
    font-weight: bold;
    align-items: center;
}
 /*Remove arrows from number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Remove arrows from number inputs in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Buttons for adjusting seconds manually */
.manual_controls {
    padding: 20px;
}
span{
    font-weight: bold;
    /*padding: 5px;*/
    padding-bottom: 10px;
    color: var(--color-white);
    font-size: 2em;
    
}