.quadrant-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 2rem;
    height: 100vh;
    padding: 2rem;
    background-color: #f0f2f5;
    box-sizing: border-box;
    text-align: center;
}
.quadrant-cell.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.quadrant-layout .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0; /* Override any default margins */
}
.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;

}
.hero_title {
    text-align: center;
    padding-left: 20px;
    display: flex;
    gap: 1rem;
}



